{% extends 'feedback/base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'feedback/css/all_feedbacks.css' %}">
{% endblock %}

{% block title %}
    Все отзывы
{% endblock %}

{% block content %}
    <h2>Все отзывы:</h2>
    {% for feed in feedbacks %}
        <div class="style-feedback">
<!--            <a href="{% url 'feedback_info' feed.id  %}">-->
                <h2>Имя - {{ feed.name }}</h2>
                <h2>Отзыв - {{ feed.feedback }}</h2>
                <h2>Рейтинг - {{ feed.rating }}</h2>
        </div>
    {% endfor %}
{% endblock %}
