{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'movie_app/css/detail_info.css' %}">
{% endblock %}

{% block title %}
    {{ actor }}
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="info">
        <h2>Имя - {{ actor.first_name }}</h2>
        <h2>Фамилия - {{ actor.last_name }}</h2>
        <h2>Пол - {{ actor.gender }}</h2>
        <h2>Снимался в:
            <ul>
                {% for movie in actor.movie_set.all %}
                    <li><a href="{{ movie.get_url }}">{{ movie }}</a></li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}