{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'movie_app/css/all_movies.css' %}">
{% endblock %}

{% block title %}
    MAIN
{% endblock %}

{% block content %}
    <h2>Список всех фильмов:</h2>
    <ul class="menu">
        {% for movie in movies %}
            <li><a href="{{ movie.get_url }}">{{ movie.name }} - {{ movie.rating }}</a></li>
        {% endfor %}
    </ul>

    <h3>Всего фильмов: {{ agg.id__count }}</h3>
    <h3>Средний бюджет: {{ agg.budget__avg }}</h3>
    <h3>Максимальный рейтинг: {{ agg.rating__max }}</h3>
    <h3>Минимальный рейтинг: {{ agg.rating__min }}</h3>
{% endblock %}