li {
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
  list-style-type: none;
}

.menu li {
  cursor: pointer;
}

.menu li > a {
  display: block;
  text-decoration: none;
}